
body {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  p{
      margin: 0;
  }
  
  .board {
    font: 200px/120px Monoton, cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px #4c57d6, 0 0 30px #120851, 200px 0 200px darkblue;
    color: #4c57d6;

  }
  
  #error {
    color: #fff;
    text-shadow: 0 0 80px red, 0 0 30px firebrick, 0 0 6px red;
  }
   
  /* #error {
    animation: blinker 1.5s linear infinite;
  } */
  #code {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    25% {
      opacity: 50%;
      color: firebrick;
    }
    75% {
      opacity: 0;
      color: firebrick;
    }
  }